.profile-sns{
	.sns-title{

	}
	.sns-content{
		& > ul{
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			& > li{
				width: calc((100% - 20px) / 2);
				// width: 100px;
				// height: 100px;
				text-align: center;
				margin: 0 auto;
				& > a {
					display: block;
					color: inherit;
					& > span{
						margin-top: 10px;
						margin-bottom: 10px;
						display: block
					}
					& > i{
						animation-iteration-count: infinite;
						font-size: 60px;
					}
				}
			}
		}
	}
}